<html>
<head>
<title> Register</title>
</head>
<body>
   <form>  
        <div class="container">   
            <label for="username">Username : </label>   
            <input id ="username" type="text" placeholder="Enter Username" name="username" required>  
            <label for="password">Password : </label>   
            <input id="password" type="password" placeholder="Enter Password" name="password" required> 
            <label>Confirm Password : </label>   
            <input type="password" placeholder="Confirm Password" name="confirmPassword" required>  
            <label for="email"> Enter email : </label>   
            <input id="email" type="email" placeholder="Enter email" name="email" required>              
            <button type="submit">Register</button>     
            <button type="button" class="cancelbtn"> Cancel</button>   
        </div>   
    </form>     
  </body>
</html>
