<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampFire</title>
    
</head>

<body class="d-flex flex-column vh-100" style="font-family: 'Nunito', sans-serif;">
    <%- include('../partials/navbar')%>
    <main class="">
        <%- body %>
    </main>   
</body>

</html>